.form-filtres {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* espace entre les champs */
    align-items: center;
  }
  .btn-square {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 6px;
     /* carré avec bords légèrement arrondis */
    transition: background-color 0.3s ease;
  }
  
  .btn-square i {
    font-size: 18px;
  }
  
  .btn-square:hover {
    opacity: 0.85;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }
  .btn-square + .btn-square {
    margin-left: 0.75rem; // ajoute de l'espace entre deux boutons successifs
  }
  
  